:root{
    --dark: #374151;
    --darker: #1f2937;
    --darkest: #111827;
    --gray: #6B7280;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #885CF6;
}

.bgr{
    background-color:linear-gradient(to right, var(--pink), var(--purple));
    background-image:'backgroundpic.jpg' ;
    height: 100%;
    background-position: center;
    background:no-repeat;
    background-size:cover;
}
.heading{
    background-color: rgb(27, 177, 139);
    width: 25rem;
    margin: auto;
    border-radius: 12rem;
    text-align: center;
}
.intro{
    background-color:rgba(9, 128, 48, 0.884);
    width: 11rem;
    margin: auto;
    border-radius: 5rem;
    text-align: center;

}
.red{
    width: 40rem;
    margin: auto;
    border-radius: 10rem;
    text-align: center;
    height: 2rem;
}

.s1{
    background-color: rgb(235, 230, 230);
    width: max-content;
    margin: auto;
}

.t{
    width: 20rem;
    height: 1.5rem;
    initial-letter-align: center;
    margin: auto;
    border-radius: 5rem;
    text-align: center;

}
.boarder{
    font-size: 18px;
    width:center;
    line-height: 1.8;
    padding: 100px 400px;
    color: black;
}

.fld{
    border-color: black;
    border-radius: 1rem;
}
.port{
    font-style: italic;
    margin:auto;
    text-align:center;
    font-size: 3rem;
}
.intro2{
    border-radius: 0.5rem;
    padding: 3rem 18rem;
}
.content{
    font-family: 'Times New Roman', Times, serif;
    border-radius: 0.5rem;
}
.footer{
    padding:3rem 18rem;
}